<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input
            label="Username:"
            labelPlacement="stacked"
            type="password"
            placeholder="Enter your username"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input
            label="Password:"
            labelPlacement="stacked"
            type="password"
            placeholder="Enter your password"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          (click)="login()"
        >           
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          Login
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Forgot</ion-label>  
      </ion-col>
      <ion-col>
        <ion-label>Signup</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>